.links
    display: flex
    justify-content: space-between
    padding: 0
    padding-top: 15px
    list-style-type: none
    align-items: center
    margin: 0 auto
    width: 97%

    button
        width: 157px
        height: 52px
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 14px
        line-height: 21.6px
        color: #ffffff
        background-color: #FB4B4D
        border: none
        cursor: pointer

    & #menu_link
        padding: 10px
        text-decoration: none
        color: #222222
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 24px
        font-family: sans-serif

        &:hover
            border: 2px solid #CFFD3C

    // --------------

.grid_first
    width: 50%
    height: 50vh

.grid_first_line
    width: 100%
    top: 93px
    left: 0
    overflow: hidden
    padding: 18px 0px
    border-top: 1px solid black
    border-bottom: 1px solid black
   

    & > div
        display: flex
        justify-content: space-between
        width: 150%
        animation: grid_first_line 10s linear infinite

        @keyframes grid_first_line
            100%
                transform: translateX(0%)
            
            0%
                transform: translateX(-50%)
            

        & > p 
            font-family: 'Roboto', sans-serif
            font-weight: 400
            font-size: 17px
            line-height: 2
            white-space: nowrap

        & > .line_image
            background-image: url('/src/images/hot_pepper.png')
            width: 68px
            height: 31px
            background-repeat: no-repeat

.subtitle
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 58px
    text-align: center

.story_text
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 16px
    text-align: center
    padding-bottom: 35px

