
  .head-wrapper{
    min-height: 129%;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.head{
    max-width: 1400px;
    margin: 0 auto;
    height: 11vh;
    border-bottom: 1px solid #000000;
}

.head-navigation{
    width: 100%;
    padding-top: 39px;
    padding: 39px 10px 0; 
}

.links{
    padding: 0;
    margin-top: 75px;
    list-style-type: none;
    height: 24px;
    align-items: center;
}

.links li + li{
    padding-left: 80px;
}

.links a{
    padding: 10px;
    text-decoration: none;
    color: #222222;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.links a:hover{
    border: 2px solid #CFFD3C;
}

.links button{
    width: 157px;
    height: 52px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.6px;
    color: #ffffff;
    background-color: #FB4B4D;
    border: none;
    cursor: pointer;
}

/* ------------------- */

.grid_first_images{
    width: 50%;
    height: 20vh;
    background-image: url('./images/image-grid-text.png');
    background-size: contain;
}

.grid_first_line{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.line_image{
    width: 10%;
    background-image: url('./images/IMAGE.png');
    background-size: contain;
}
